@font-face {
  font-family: "iconfont"; /* Project id 3119607 */
  src: url('iconfont.woff2?t=1641367676705') format('woff2'),
       url('iconfont.woff?t=1641367676705') format('woff'),
       url('iconfont.ttf?t=1641367676705') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dayu:before {
  content: "\e613";
}

